table{
    border-collapse:collapse;
}
tr{
    border:inset 3px #1f66eb;
}
td{
    padding : 5px;
}
div{
    float:left;
    text-align:left;
    padding:5px;
}
h3{
    border-bottom: solid 3px black;
}
input{
    margin:5px;
    padding: 5px;
}
#links{
    display:block;
    margin-left:42%;
}
input[type=text]{
    border-radius:5px;
    background:#7c0b0bc2;
}
input[type=text]:hover{
    box-shadow: 5px 5px 2px black;
}
input[type=text]:focus{
    background:#1496ad9c;
}
.Php{
    display:none;
}
button{
    background: linear-gradient(45deg, #FFFFFF, rgb(226, 211, 211));
    border:outset 2px rgb(223, 213, 213);
}
#MenuButton{
    margin-left:30%;
}