body{
  background: linear-gradient(45deg, #FC354C,#0ABFBC);
  background-attachment:fixed;
  height: 100vh;
  width: 100vw;
  text-align: center;
}
p, h1, h2, h3, h4, h5, h6, a{
  font-family: 'Indie Flower', cursive;
}
.header {
  text-align:Center;
  grid-area: header;
  border:5px ridge #247e91;
}
.DataDevMenu {
  grid-area: DBDes;
  border:5px ridge #247e91;
  text-align: left;
}
.JavaMenu {
  grid-area: java;
  border:5px ridge #247e91;
  text-align:right;
}
.footer {
  grid-area: footer;
  border:5px ridge #247e91;
  height: 200px;
  text-align:center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'DBDes DBDes DBDes java java java'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow:5px 5px 2px rgba(218, 195, 43, 0.5);
  padding: 20px;
  font-size:1.25em;
  border-radius: 10px;
}
.wasdLogo{
  float:right;
}
.wasdCaption{
  text-align:right;
  font-size:15px;
}
.CHSLogo{
  float:left;
}
.CHSCaption{
  text-align:left;
  font-size:15px;
}
.hamlink{
  float:left;
}
.hamburger{
  width:50px;
  height:5px;
  margin: 6px 0;
}
.layer1{
  background-color:#0033A0;
}
.layer2{
  background-color:#D64309;
}
.w3-sidebar{
  height:50%;
  box-shadow:5px 5px 10px #000000;
  background: radial-gradient(#0575E6,#021B79);
  border:outset 5px;
  color:white;
  border-color:#39639c;
}
object{
  border:5px solid ;
  width: 500px;
  height: 400px;
}
#BSUlogo{
  position:relative;
  bottom:150px;
  float:right;
}
button{
  background-color:transparent;
  border:none;
}